.room-id {
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 0.4rem;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
    padding: 0.5rem;
    background-color: grey;
}

.btn {
	width: 10%;
	font:
		1em Comic Sans MS,
		Comic Sans,
		cursive;
	padding: 10px 15px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: var(--transition);
}
