.meet-container {
  width: 50%;
  height: 50%;
  padding: 1rem;
  margin-top: 2rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  overflow-y: scroll;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1.5rem;
}

.meet-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.logo-badge {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.8rem;
  line-height: 1.3rem;
  font-weight: 600;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.25rem;
}
.room-id {
  width: 50%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background: #e8f0fe;
  font-size: 1rem;
  transition: var(--transition);
  border: 1px solid transparent;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  width: 20%;
  padding: 10px 15px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-bg);
  border: 1px solid var(--color-primary-variant);
}
