.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  color: var(--color-black);
}

.role {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--color-primary);
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.profile-right-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  /* border: 1px solid var(--color-primary); */
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.upcoming-classes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}

.upcoming-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.upcoming-class h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--color-primary);
}

.upcoming-class p {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary-variant);
}

.upcoming-class button {
  width: 100%;
  font:
    1em Comic Sans MS,
    Comic Sans,
    cursive;
  padding: 10px 15px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.logo-badge {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.8rem;
  line-height: 1.3rem;
  font-weight: 600;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.25rem;
}

.no-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}
